body {
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.logo {
    width: 120px;
    height: 120px;
}

#title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #1890FF;
}

#signUp{
    width: 100%;
}

#signUp label, #signUp input, #signUp button {
   font-size: 18px;
}

#signUp button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link {
    font-size: 16px;
}